name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run build
        run: make build
