name: Lint

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'website/**'
      - '.github/workflows/website-*.yaml'
  push:
    branches:
      - main
    paths-ignore:
      - 'website/**'
      - '.github/workflows/website-*.yaml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run linters
        run: make lint
